.imgname {
 float: left;
 height: 50px;
 padding: 15px 15px;
 font-size: 18px;
 line-height: 20px;
 color : #333;

}

.logotmp {
 background-color: rgba(0,0,0,0.4);
 float: left;
 height: 50px;
 padding: 15px 15px;
 font-size: 25px;
 line-height: 20px;
 color : white;

}

.align-nav-ctrl-button {
float:right;
}


.align-left-nav-ctrl-button {
float:left;
}

.space-view {

margin-top: 15px;

}


.panel-drawing-bg {

width :1500px;
height : 1000px;
/*background-color : #a5a5a5 ;*/
border: 1px solid #a5a5a5;
background: -webkit-radial-gradient( #f2f2f2 10%, #a5a5a5 90%);
background:    -moz-radial-gradient( #f2f2f2 10%, #a5a5a5 90%); /* FF3.6+ */
background:     -ms-radial-gradient(#f2f2f2 10%, #a5a5a5 90%); /* IE10 */
background:      -o-radial-gradient( #f2f2f2 10%, #a5a5a5 90%); /* Opera 11.10+ */
background:         radial-gradient(#f2f2f2 10%, #a5a5a5 90%);
 }

.body-drawing {
   background-color : whitesmoke;
   max-width: 100%;
  max-height: 100%;

}


/* upload */
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.glyphicon-upload {
	font-size: 25px;
}

/* reset */
.reset {
    position: relative;
    overflow: hidden;
    margin: 0px;
    font-size: 20px;
    }


.glyphicon-ban-circle {
    font-size: 25px;
}

@media only screen and (min-width: 1760px){
.imtab-content {
    overflow: auto;
    width: 100%; /*1500px;*/
    max-width: 100%;/*1500px;*/
    height: 100%;
    max-height: 100%;

}
}



@media only screen and (min-width: 950px) and (max-width: 1760px) {
    .imtab-content {
       
        overflow: auto; 
        width: 1200px;
        max-width: 1200px;
        height: 1200px;
        max-height: 1000px;

    }
}


/*@media only screen and (min-height: 50px) and (max-height: : 1400px){
    .imtab-y-content {
        overflow-y: scroll;
        height: 1200px;
        max-height: 1200px;

    }
}*/

.directed-nav {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-ctrl-tool {
    margin:10px 10px 0px 10px;

}

.navbar-icon-size {
    font-size: 25px;
}

.navbar .divider-vertical {
height: 50px;
margin: 0 9px;
border-left: 1px solid #d3d3d3;
}

.navbar-inverse .divider-vertical {
border-right-color: #222222;
border-left-color: #111111;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}


/* color gradient */

.grad-col-0-bg {
    background-color: #a5a5a5!important;
    border-color: #a5a5a5!important;
                } /*darker*/
.grad-col-1-bg {
    background-color: #bfbfbf;
    border-color: #bfbfbf;
        }
.grad-col-2-bg {
    background-color: #d2d2d2;
    border-color: #d2d2d2;
    }
.grad-col-3-bg {
    background-color: #e3e3e3 !important;
    border-color:#e3e3e3 !important;
    }
.grad-col-Z-bg {
    background-color: #f2f2f2;
    border-color:#f2f2f2;
    } /*lighter*/


.grad-col-Z-bg-body {
    background: -webkit-linear-gradient(180deg, #f2f2f2 10%,#a5a5a5 90%);
    background:    -moz-linear-gradient(180deg, #f2f2f2 10%, #a5a5a5 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(180deg, #f2f2f2 10%, #a5a5a5 90%); /* IE10 */
    background:      -o-linear-gradient(180deg, #f2f2f2 10%, #a5a5a5 90%); /* Opera 11.10+ */
    background:         linear-gradient(180deg, #f2f2f2 10%, #a5a5a5 90%); /* W3C */ 
}


