<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="landing-menu">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#/annot">
                    <i class="fa"></i>  Gauntlet <span class="light">Annotation tool</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>-->
                   
                    <li>
                        <a href="#contact"  target="_self">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
</nav>


<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class = "landing-box">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Gauntlet</h1>
                        <p class="intro-text"> A flexible and interactive annotation tool<br>by SIB/Vital-IT DH projects</p>
                        <a href="#/annot" class="btn round-button" title = "Go annotate"> Go
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>


  
   
 <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="/process" class="services bg-grey">
        <div class="container container-process">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Gauntlet</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="glyphicon glyphicon-screenshot" style="color:#0a9dd9"></i>
                            </span>
                                <h4>
                                    Positional information
                                </h4>
                                <p class="lead">Locate precise location and determine area of attributes.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-line-chart fa-stack-1x" style="color:#629f43"></i>
                            </span>
                                <h4>
                                    Efficient
                                </h4>
                                <p class="lead">Bias reduction and fast coding.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="glyphicon glyphicon-stats" style="color:#732060"></i>
                            </span>
                                <h4>
                                    Analytics
                                </h4>
                                <p class="lead">Robust comparative analytics</p>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


   <!-- Footer -->
 <footer>
        <div id="contact" class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4 style="padding-top:25px"><strong>Contact</strong>
                    </h4>

                    <p>Annotation files of your sample should be sent on to the following address (with the subject "DDD annotation" and the country and institution you are affiliated with): </p>

                    <ul class="list-unstyled">
                        <!--<li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>-->
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:ddd@unil.ch">ddd@unil.ch</a>
                        </li>
                    </ul>
                    <br>

                    <p>For explanations about how the annotation of drawings works : </p>
                    <ul class="list-unstyled">
                        <!--<li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>-->
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:Gregory.Dessart@unil.ch">Gregory.Dessart@unil.ch</a>
                        </li>
                    </ul>
                    <br>

                    <p>For any other inquiries, please contact<br>Prof. Pierre-Yves Brandt</p>
                    <ul class="list-unstyled">
                        <!--<li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>-->
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:Pierre-Yves.Brandt@unil.ch">Pierre-Yves.Brandt@unil.ch</a>
                        </li>
                    </ul>
                    <br>
                    
                    <hr class="small">
                    <p class="text-muted">Powered by SIB/Vital-IT DH projects 
                        <a href="http://www.vital-it.ch/" style = "color: #777;">www.vital-it.ch</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

